#main-container {
	border-style: solid;
	border-width: 5px 5px 5px 5px;
	border-color: #f1f1f1;
	padding: 5px 5px 5px 5px;
	width:400px;
	height:600px;
}
#heading {
	color: #E29542; //Header heading orange color
	padding-bottom: 10px;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	width: 400px;
	margin-top: 10px;
}

h3 {
	font: bold 14px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
	float: left;
	margin: 0 15px 0 0;
	display: block;
	width: 75px;
	height: 75px;
}

li p {
	font: 200 12px/1.5 Helvetica, Verdana, sans-serif;
}

li {
	padding: 10px;
	overflow: auto;
	border-style: solid;
	border-width: 0px 1px 2px 1px;
	border-color: #fff;
	background: #eee;
}

li:hover {
	background: #fff;
	/*cursor: pointer; */
}
body {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 100%;
}

.deal-list-element-div{

}

.discount_price_span{
	color:#FF6500;
	font-weight: bold;
}

.simple_url{
  color:black;
	text-decoration: none;
}

a:visited {
    color: grey;
}
